/* -------------------------------------------------------------------------- */
/* Base                                                                       */
/* -------------------------------------------------------------------------- */

.button {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    transition:
        color 200ms ease,
        background-color 200ms ease,
        border-color 200ms ease,
        box-shadow 200ms ease,
        opacity 200ms ease;
    outline: none;
}

/* -------------------------------------------------------------------------- */
/* Focus                                                                      */
/* -------------------------------------------------------------------------- */

.button:focus-visible {
    outline: 2px solid var(--scaffold-focus-ring);
    outline-offset: 2px;
}

/* -------------------------------------------------------------------------- */
/* Disabled                                                                   */
/* -------------------------------------------------------------------------- */

.button:disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
}

/* -------------------------------------------------------------------------- */
/* Icons                                                                      */
/* -------------------------------------------------------------------------- */

.button > svg {
    flex-shrink: 0;
    pointer-events: none;
}

/* -------------------------------------------------------------------------- */
/* Width                                                                      */
/* -------------------------------------------------------------------------- */

.button[data-wide] {
    width: 100%;
}

/* -------------------------------------------------------------------------- */
/* Radius                                                                     */
/* -------------------------------------------------------------------------- */

.button[data-radius="none"] {
    border-radius: var(--radius-none);
}

.button[data-radius="small"] {
    border-radius: var(--radius-small);
}

.button[data-radius="medium"] {
    border-radius: var(--radius-medium);
}

.button[data-radius="large"] {
    border-radius: var(--radius-large);
}

.button[data-radius="extraLarge"] {
    border-radius: var(--radius-extra-large);
}

.button[data-radius="full"] {
    border-radius: var(--radius-full);
}

/* -------------------------------------------------------------------------- */
/* Size                                                                       */
/* -------------------------------------------------------------------------- */

.button[data-size="large"] {
    height: calc(var(--space-unit) * 10); /* 2.5rem - 40px */
    padding-inline: calc(var(--space-unit) * 4.5); /* 1.125rem - 18px */
    gap: calc(var(--space-unit) * 3); /* 0.75rem - 12px */
    font-family: var(--type-button-16-family);
    font-size: var(--type-button-16-size); /* 16px */
    font-weight: var(--type-button-16-weight);
    line-height: var(--type-button-16-line-height);
}

.button[data-size="medium"] {
    height: calc(var(--space-unit) * 9); /* 2.25rem - 36px */
    padding-inline: calc(var(--space-unit) * 4.5); /* 1.125rem - 18px */
    gap: calc(var(--space-unit) * 2); /* 0.5rem - 8px */
    font-family: var(--type-button-14-family);
    font-size: var(--type-button-14-size); /* 14px */
    font-weight: var(--type-button-14-weight);
    line-height: var(--type-button-14-line-height);
}

.button[data-size="small"] {
    height: calc(var(--space-unit) * 8); /* 2rem - 32px */
    padding-inline: calc(var(--space-unit) * 3); /* 0.75rem - 12px */
    gap: calc(var(--space-unit) * 1.5); /* 0.375 - 6px */
    font-family: var(--type-button-12-family);
    font-size: var(--type-button-12-size); /* 12px */
    font-weight: var(--type-button-12-weight);
    line-height: var(--type-button-12-line-height);
}

/* -------------------------------------------------------------------------- */
/* Icon Button                                                                */
/* -------------------------------------------------------------------------- */

.button[data-icon] {
    padding-inline: 0;
}

.button[data-icon][data-size="large"] {
    width: calc(var(--space-unit) * 10); /* 2.5rem - 40px */
}

.button[data-icon][data-size="medium"] {
    width: calc(var(--space-unit) * 9); /* 2.25rem - 36px */
}

.button[data-icon][data-size="small"] {
    width: calc(var(--space-unit) * 8); /* 2rem - 32px */
}

/* -------------------------------------------------------------------------- */
/* Icon Sizes                                                                 */
/* -------------------------------------------------------------------------- */

.button[data-size="large"] > svg {
    width: var(--type-button-16-size); /* 16px */
    height: var(--type-button-16-size); /* 16px */
}

.button[data-size="medium"] > svg {
    width: var(--type-button-14-size); /* 14px */
    height: var(--type-button-14-size); /* 14px */
}

.button[data-size="small"] > svg {
    width: var(--type-button-12-size); /* 12px */
    height: var(--type-button-12-size); /* 12px */
}

/* -------------------------------------------------------------------------- */
/* Default                                                                    */
/* -------------------------------------------------------------------------- */

.button[data-variant="default"] {
    background-color: var(--color-primary);
    color: var(--color-primary-foreground);
}

.button[data-variant="default"]:hover, .button[data-variant="default"]:active {
    background-color: var(--color-primary);
}

/* -------------------------------------------------------------------------- */
/* Outline                                                                    */
/* -------------------------------------------------------------------------- */

.button[data-variant="outline"] {
    background-color: var(--color-surface);
    color: var(--color-surface-foreground);
    border: 1px solid var(--color-border);
}

.button[data-variant="outline"]:hover, .button[data-variant="outline"]:active {
    background-color: var(--color-surface);
}

.button[data-variant="outline"] > svg {
    color: var(--color-surface-muted-foreground);
}

/* -------------------------------------------------------------------------- */
/* Tonal                                                                      */
/* -------------------------------------------------------------------------- */

.button[data-variant="tonal"] {
    background-color: var(--color-secondary);
    color: var(--color-secondary-foreground);
}

.button[data-variant="tonal"]:hover, .button[data-variant="tonal"]:active {
    background-color: var(--color-secondary);
}

/* -------------------------------------------------------------------------- */
/* Text                                                                       */
/* -------------------------------------------------------------------------- */

.button[data-variant="text"] {
    background-color: transparent;
    color: var(--color-tertiary-foreground);
}

.button[data-variant="text"]:hover, .button[data-variant="text"]:active {
    background-color: var(--color-tertiary);
}

/* -------------------------------------------------------------------------- */
/* Elevated                                                                   */
/* -------------------------------------------------------------------------- */

.button[data-variant="elevated"] {
    background-color: var(--color-quaternary);
    color: var(--color-quaternary-foreground);
    box-shadow: var(--shadow-extraSmall);
}

.button[data-variant="elevated"]:hover, .button[data-variant="elevated"]:active {
    background-color: var(--color-quaternary);
}

/* -------------------------------------------------------------------------- */
/* Underline                                                                  */
/* -------------------------------------------------------------------------- */

.button[data-variant="underline"] {
    background-color: transparent;
    color: var(--color-foreground);
    text-underline-offset: 0.25rem;
    text-decoration: none;
}

.button[data-variant="underline"]:hover, .button[data-variant="underline"]:active {
    text-decoration: underline;
}

/* -------------------------------------------------------------------------- */
/* Error                                                                      */
/* -------------------------------------------------------------------------- */

.button[data-variant="error"] {
    background-color: var(--color-error);
    color: var(--color-error-foreground);
}

.button[data-variant="error"]:hover {
    background-color: var(--color-error);
}

.button[data-variant="error"]:active {
    background-color: var(--color-error);
}

/* -------------------------------------------------------------------------- */
/* Alert                                                                      */
/* -------------------------------------------------------------------------- */

.button[data-variant="alert"] {
    background-color: transparent;
    color: var(--color-alert-foreground);
}

.button[data-variant="alert"]:hover {
    background-color: var(--color-alert);
}

.button[data-variant="alert"]:active {
    background-color: var(--color-alert);
}

/* -------------------------------------------------------------------------- */
/* Loading                                                                    */
/* -------------------------------------------------------------------------- */

.button[data-loading] {
    cursor: wait;
}

.button-spinner {
    width: 1em;
    height: 1em;
    animation: button-spin 1s linear infinite;
}

.button-loading-content[data-hidden] {
    visibility: hidden;
}

@keyframes button-spin {
    to {
        transform: rotate(360deg);
    }
}