:root {
    /* ---------------------------------------------------------------------- */
    /* Border Width                                                            */
    /* ---------------------------------------------------------------------- */

    --border-width-none: 0;
    --border-width-thin: 1px;
    --border-width-thick: 2px;

    /* ---------------------------------------------------------------------- */
    /* Border Style                                                            */
    /* ---------------------------------------------------------------------- */

    --border-style-solid: solid;
    --border-style-dashed: dashed;
    --border-style-dotted: dotted;
    --border-style-none: none;
}