:root {
    /* ---------------------------------------------------------------------- */
    /* Border Width                                                            */
    /* ---------------------------------------------------------------------- */

    --border-ds-width-none: 0;
    --border-ds-width-thin: 1px;
    --border-ds-width-thick: 2px;

    /* ---------------------------------------------------------------------- */
    /* Border Style                                                            */
    /* ---------------------------------------------------------------------- */

    --border-ds-style-solid: solid;
    --border-ds-style-dashed: dashed;
    --border-ds-style-dotted: dotted;
    --border-ds-style-none: none;
}