:root {
    /* Other Colors */
    --color-ds-transparent: transparent;

    /* Base Colors */
    --color-ds-neutral-0: oklch();
    --color-ds-neutral-25: oklch();
    --color-ds-neutral-975: oklch();
    --color-ds-neutral-1000: oklch();

    /*  Neutral Colors */
    --color-ds-neutral-50: oklch();
    --color-ds-neutral-100: oklch();
    --color-ds-neutral-200: oklch();
    --color-ds-neutral-300: oklch();
    --color-ds-neutral-400: oklch();
    --color-ds-neutral-500: oklch();
    --color-ds-neutral-600: oklch();
    --color-ds-neutral-700: oklch();
    --color-ds-neutral-800: oklch();
    --color-ds-neutral-900: oklch();
    --color-ds-neutral-950: oklch();

    /*  Red Colors */
    --color-ds-red-50: oklch();
    --color-ds-red-100: oklch();
    --color-ds-red-200: oklch();
    --color-ds-red-300: oklch();
    --color-ds-red-400: oklch();
    --color-ds-red-500: oklch();
    --color-ds-red-600: oklch();
    --color-ds-red-700: oklch();
    --color-ds-red-800: oklch();
    --color-ds-red-900: oklch();
    --color-ds-red-950: oklch();

    /*  Amber Colors */
    --color-ds-amber-50: oklch();
    --color-ds-amber-100: oklch();
    --color-ds-amber-200: oklch();
    --color-ds-amber-300: oklch();
    --color-ds-amber-400: oklch();
    --color-ds-amber-500: oklch();
    --color-ds-amber-600: oklch();
    --color-ds-amber-700: oklch();
    --color-ds-amber-800: oklch();
    --color-ds-amber-900: oklch();
    --color-ds-amber-950: oklch();

    /*  Green Colors */
    --color-ds-green-50: oklch();
    --color-ds-green-100: oklch();
    --color-ds-green-200: oklch();
    --color-ds-green-300: oklch();
    --color-ds-green-400: oklch();
    --color-ds-green-500: oklch();
    --color-ds-green-600: oklch();
    --color-ds-green-700: oklch();
    --color-ds-green-800: oklch();
    --color-ds-green-900: oklch();
    --color-ds-green-950: oklch();

    /*  Teal Colors */
    --color-ds-teal-50: oklch();
    --color-ds-teal-100: oklch();
    --color-ds-teal-200: oklch();
    --color-ds-teal-300: oklch();
    --color-ds-teal-400: oklch();
    --color-ds-teal-500: oklch();
    --color-ds-teal-600: oklch();
    --color-ds-teal-700: oklch();
    --color-ds-teal-800: oklch();
    --color-ds-teal-900: oklch();
    --color-ds-teal-950: oklch();

    /*  Blue Colors */
    --color-ds-blue-50: oklch();
    --color-ds-blue-100: oklch();
    --color-ds-blue-200: oklch();
    --color-ds-blue-300: oklch();
    --color-ds-blue-400: oklch();
    --color-ds-blue-500: oklch();
    --color-ds-blue-600: oklch();
    --color-ds-blue-700: oklch();
    --color-ds-blue-800: oklch();
    --color-ds-blue-900: oklch();
    --color-ds-blue-950: oklch();

    /*  Purple Colors */
    --color-ds-purple-50: oklch();
    --color-ds-purple-100: oklch();
    --color-ds-purple-200: oklch();
    --color-ds-purple-300: oklch();
    --color-ds-purple-400: oklch();
    --color-ds-purple-500: oklch();
    --color-ds-purple-600: oklch();
    --color-ds-purple-700: oklch();
    --color-ds-purple-800: oklch();
    --color-ds-purple-900: oklch();
    --color-ds-purple-950: oklch();

    /*  Pink Colors */
    --color-ds-pink-50: oklch();
    --color-ds-pink-100: oklch();
    --color-ds-pink-200: oklch();
    --color-ds-pink-300: oklch();
    --color-ds-pink-400: oklch();
    --color-ds-pink-500: oklch();
    --color-ds-pink-600: oklch();
    --color-ds-pink-700: oklch();
    --color-ds-pink-800: oklch();
    --color-ds-pink-900: oklch();
    --color-ds-pink-950: oklch();
}