:root {
    --size-ds-0: 0;
    --size-ds-full: 100%;
    --size-ds-screen: 100vw;
    --size-ds-screen-height: 100vh;

    --size-ds-min: min-content;
    --size-ds-max: max-content;
    --size-ds-fit: fit-content;
}