:root,
.light,
.default,
[data-theme="light"],
[data-theme="default"],
:host(.light),
:host(.default),
:host([data-theme="light"]),
:host([data-theme="default"]) {
    color-scheme: light;
    --background: var(--color-ds-neutral-0);
    --foreground: var(--color-ds-neutral-950);

    --surface: var(--color-ds-neutral-0);
    --surface-foreground: var(--color-ds-neutral-950);

    --primary: var(--color-ds-neutral-950);
    --primary-foreground: var(--color-ds-neutral-25);

    --secondary: var(--color-ds-neutral-0);
    --secondary-foreground: var(--color-ds-neutral-950);

    --tertiary: var(--color-ds-tertiary);
    --tertiary-foreground: var(--color-ds-tertiary-foreground);

    --success: var(--color-ds-green-500);
    --success-foreground: var(--color-ds-success-foreground);

    --error: var(--color-ds-red-500);
    --error-foreground: var(--color-ds-neutral-25);

    --warning: var(--color-ds-amber-500);
    --warning-foreground: var(--color-ds-warning-foreground);

    --border: var(--color-ds-border);
    --input: var(--color-ds-input);
    --ring: var(--color-ds-ring);
}

.dark,
[data-theme="dark"],
:host(.dark),
:host([data-theme="dark"]) {
    color-scheme: dark;
    --background: var(--color-ds-background);
    --foreground: var(--color-ds-foreground);

    --surface: var(--color-ds-surface);
    --surface-foreground: var(--color-ds-surface-foreground);

    --primary: var(--color-ds-primary);
    --primary-foreground: var(--color-ds-primary-foreground);

    --muted: var(--color-ds-muted);
    --muted-foreground: var(--color-ds-muted-foreground);

    --success: var(--color-ds-success);
    --success-foreground: var(--color-ds-success-foreground);

    --error: var(--color-ds-error);
    --error-foreground: var(--color-ds-error-foreground);

    --warning: var(--color-ds-warning);
    --warning-foreground: var(--color-ds-warning-foreground);

    --border: var(--color-ds-border);
    --input: var(--color-ds-input);
    --ring: var(--color-ds-ring);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-surface: var(--surface);
    --color-surface-foreground: var(--surface-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-success: var(--success);
    --color-success-foreground: var(--success-foreground);

    --color-error: var(--error);
    --color-error-foreground: var(--error-foreground);

    --color-warning: var(--warning);
    --color-warning-foreground: var(--warning-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
}
